@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

$primary: #b49543;
$primary-hover: #896e36;

$default: #7b715d;
$default-hover: #615540;

$danger: #ea445b;
$danger-hover: #b13343;

$success: #17ce7f;
$success-hover: #13bd77;

$info: #19ceea;
$info-hover: #13bcd2;

$warning: #968aea;
$warning-hover: #8d82d3;

$admin-primary: #337AB7;

$dark-bg: #353535;

$white: #ffffff;
$black: #000;
$dark-grey: #5b5b5b;
$medium-grey: #c6c6c6;
$light-grey: #e6e6e6;
$warm-light-grey: #f6f5f3;
$warm-light-grey-2: #ece9e1;

$header-height: 65px;

@mixin transition {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
}

@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin inline-flex {
  //display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-box-direction: reverse;
    -moz-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-direction: reverse;
    -moz-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
  // No Webkit/FF Box fallback.
  -webkit-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: nowrap;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}

@mixin flex-flow($values: (row nowrap)) {
  // No Webkit/FF Box fallback.
  -webkit-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

@mixin flex-shrink($int: 0) {
  -webkit-flex-shrink: $int;
  -moz-flex-shrink: $int;
  -ms-flex: $int;
  flex-shrink: $int;
}

@mixin flex-basis($value: auto) {
  -webkit-flex-basis: $value;
  flex-basis: $value;
}

@mixin align-self($value: auto) {
  // No Webkit Box Fallback.
  -webkit-align-self: $value;
  @if $value == flex-start {
    -ms-flex-item-align: start;
  } @else if $value == flex-end {
    -ms-flex-item-align: end;
  } @else {
    -ms-flex-item-align: $value;
  }
  align-self: $value;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  color: $dark-grey;
  //background-color: #f0f0f0;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

main {
  //margin-top: $header-height;
  min-height: calc(100vh - 80px);

  padding-top: 193px;
  padding-bottom: 50px;
  background-color: $warm-light-grey;
}

#home {
  margin-bottom: -50px;
}

.container-fluid {
  padding: 0;
}

button {
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

img {
  width: 100%;
}

h1, h2, h3 {
  margin: 50px 0 20px 0;
}

h3 {
  font-size: 2em;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 300;
}

h2 {
  font-size: 2em;
}

input[type=checkbox], input[type=radio] {
  margin: 4px 7px 0 0;
  margin-top: 1px \9
;
  line-height: normal;
}

.text-bigger {
  font-size: 1.3em;
  font-weight: 400 !important;
}

.text-grey {
  color: $medium-grey
}

.text-hidden-xs {
  display: inline-block;
  margin-left: 10px;
}

.text-danger {
  color: $danger;
}

.text-success {
  color: $success;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}

.label {
  padding: .3em .6em;
  font-weight: 400;
}

.buttons-container {
  .btn {
    margin-bottom: 5px;
  }
}

.icon {
  font-size: 1.8em;
  color: $primary;
  @include transition;

  &:hover {
    color: $primary-hover;
  }
}

.btn {
  margin-right: 5px;

  &.btn-sort {
    padding: 2px;
    color: $light-grey;
    background-color: transparent;
    @include transition;

    &.active {
      color: $danger;
    }
  }
}

.btn-custom {
  border: none;
  margin-right: 5px;
  margin-bottom: 5px;
  @include transition;

  &:last-child {
    margin-right: 0;
  }

  &.primary {
    color: $white;
    background-color: $primary;

    &:hover,
    &:active {
      background-color: $primary-hover;
    }
  }

  &.default {
    color: #ffffff;
    background-color: $default;

    &:hover,
    &:active {
      background-color: $default-hover;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.xs {
    padding: 5px 5px;
    border-radius: 2px;
  }

  &.sm {
    padding: 5px 10px;
    border-radius: 3px;
  }

  &.md {
    padding: 10px 20px;
    border-radius: 4px;
  }

  &.lg {
    padding: 13px 25px;
    border-radius: 5px;
  }
}

.btn.active,
.btn:active,
.btn.active:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
}

.table-sorting-buttons {
  margin-left: 15px;
  display: inline-block;
  margin-right: 0;

  .btn {
    margin-right: 0;
  }
}

.table-responsive {
  margin-top: 35px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  //border-top: 1px solid #ddd;
  height: 50px;
}

.table > thead {
  background-color: $white;
}

.table td:last-child,
.table th:last-child {
  padding-right: 20px;
}

.bg-white {
  background-color: $white;
}

.section-heading {
  //font-family: "Garamond", serif;
  text-align: center;
  font-size: 3em;
  padding: 25px 15px;
  border-top: 1px solid $warm-light-grey;
  border-bottom: 1px solid $warm-light-grey;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 8px;
  color: $primary;
}

#main-menu {
  @include transition;
}

nav {
  @include flex;
  @include align-items(center);
  @include flex-direction(column);

  .navbar .navbar-fixed-top .navbar-default {
    .collapse {
      @include flex;
    }
  }

  .navbar-collapse {
    max-height: none;
  }

  .navbar-nav {
    margin: 0;
  }

  &.navbar-default {
    background-image: none;
    background-color: rgba(255, 255, 255, 1);

    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-brand {
    font-weight: 300;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid $medium-grey;
    margin: 15px auto 15px auto;

    &.admin {
      margin: 15px;
    }
  }

  .cart {
    color: $medium-grey;
    border-bottom: none;
    font-size: 1em;

    .fa {
      font-size: 1.5em;
      padding-right: 8px;
    }

    .label-danger {
      background-color: $primary;
    }
  }

  #user-nav {
    .nav {
      @include flex;
      @include align-items(center);

      .nav-link {
        @include flex;
        @include align-items(center);
        padding: 12px 20px;
        text-transform: uppercase;
        letter-spacing: .3px;
        text-decoration: none;
        font-size: .9em;
        @include transition;

        &.active {
          color: $primary;
        }
      }
    }
  }

  #admin-nav {
    .nav {
      @include flex;
      @include align-items(center);

      .nav-link {
        @include flex;
        @include align-items(center);
        padding: 5px 12px;
        text-transform: uppercase;
        letter-spacing: .3px;
        text-decoration: none;
        font-size: .9em;
        border-radius: 5px;
        margin-right: 2px;
        @include transition;

        &.active {
          color: $white;
          background-color: $admin-primary;
        }
      }

      #logout-btn {
        margin-left: 8px;
      }
    }
  }
}

#home-main-carousel {

  .carousel {
    height: 550px;
    margin-top: -35px;

    .carousel-inner {
      height: 100%;
      position: relative;

      .item {
        height: 100%;
      }

      .carousel-img {
        width: 100%;
        height: auto;
        min-height: 100%;
        position: absolute;
        z-index: -1;
      }
    }

    .carousel-caption {
      position: absolute;
      top: 200px;
      width: 60%;
      left: 20%;

      padding-top: 20px;
      padding-bottom: 20px;

      z-index: 10;

      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

      h3 {
        font-size: 5em;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}

.carousel-control.left,
.carousel-control.right {
  background: none;
  @include transition;
}

#home-about {
  text-align: center;

  .content-text {
    padding: 25px;
    font-size: 1.3em;
  }
}

#home-banner-1,
#home-banner-2 {
  .wrapper {
    padding-top: 50px;
    width: 100%;
  }

  .article-box {
    position: relative;
    @include flex;
    @include flex-direction(flex-end);
    height: 500px;
    background-color: $dark-bg;
    text-align: left;
  }

  .article-image {
    img {
      width: 100%;
      height: auto;
    }
  }

  .article-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    width: 30%;
    height: 100%;
    min-width: 400px;
    z-index: 1;
    background-color: $dark-bg;
    color: $medium-grey;

    h4 {
      color: $primary;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 1.5em;
    }
  }
}

#home-banner-1 {

  .article-image {
    position: absolute;
    top: 10%;
    left: 30%;
    @include flex;
    @include align-items(center);

    width: 65%;
    height: 80%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }
}

#home-banner-2 {

  .article-box {
    height: 450px;
  }

  .article-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .article-content {
    position: absolute;
    left: 100px;
    top: -60px;
    height: auto;
    min-height: 0;
  }
}

#top-sellers {
  padding-bottom: 30px;

  .top-sellers-carousel {
    position: relative;
    overflow: hidden;

    button {
      &:disabled {
        cursor: default !important;

        &:hover {
          color: $light-grey !important;
        }
      }
    }

    .carousel-control.left,
    .carousel-control.right {
      width: 20px;
      background: none;
      color: $light-grey;
      text-shadow: none;
      z-index: 1;
      opacity: 1;
      margin: 10px;
      @include transition;

      &:hover,
      &:active {
        cursor: pointer;
        color: $primary;
      }
    }
  }
}

.card,
.top-seller-card {

  @include flex;
  @include align-items(center);
  @include justify-content(flex-start);
  @include flex-wrap(wrap);

  padding: 25px;
  margin-bottom: 20px;
  background-color: $white;
  border: 1px solid transparent;

  text-align: center;

  @include transition;

  &:hover,
  &:active,
  &:focus {
    border: 1px solid $light-grey;

    .product-image {
      transform: translateY(-20px);
      @include transition;
    }

    .price {
      color: $primary;
    }

    .add-to-cart-btn {
      background-color: $primary;
    }
  }

  .product-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    @include transition;

    .card-img-top {
      height: 90%;
      width: auto;
      border-bottom: 1px solid transparent;
    }
  }

  .card-body {
    width: 100%;
  }

  .card-title {
    font-size: 1.1em;
    height: 35px;
    //text-transform: uppercase;
    //letter-spacing: 1px;
    line-height: 1.1em;
  }

  .card-text {
    max-width: 100%;

    @include flex;
    @include align-items(center);
    @include justify-content(center);

    color: $medium-grey;
    visibility: visible;
    opacity: 1;
    height: 60px;
    font-size: .9em;
    @include transition;
  }

  .price {
    padding: 5px 10px;
    font-weight: 400;
    color: $primary;
    font-size: 1.35em;
    @include transition;
  }

  .add-to-cart-btn {
    display: inline-block;
    padding: 5px 10px;
    height: 30px;
    @include transition;
    background-color: $light-grey;
    color: $white;
    z-index: 3000;
    margin-right: 5px;

    &:hover {
      background-color: $primary-hover;
      color: $white;
    }
  }
}

.top-seller-card {
  width: 300px;
  display: inline-block;
  padding: 25px;
  margin: 5px 25px;

  &:hover {
    border: 1px solid transparent;

    .price {

      color: $white;
      background-color: $primary;
    }
  }

  .price {
    font-size: 1.3em;
    display: inline-block;
  }
}

#testimonials {
  padding-bottom: 50px;
  min-height: 250px;
  background-color: $warm-light-grey;

  .testimonial {
    .testimonial-body {

      .testimonial-text {
        margin-top: 25px;
        font-style: italic;
        font-size: 1.2em;
        text-align: left;
        margin-bottom: 15px;
      }

      .testimonial-author {
        font-weight: 600;
        text-align: right;
      }

      &::before {
        content: open-quote;
        font-size: 5em;
        color: $primary;
        line-height: 1em;
      }
    }
  }

  .avatar {
    width: 100px;
    height: 100px;
    border: 6px solid $warm-light-grey;
  }

  .carousel {
    min-height: 130px;
    @include transition;

    .carousel-inner {
      height: auto;
      position: relative;
    }

    .carousel-indicators {
      display: none;
    }
  }

}

#product {
  .label {
    display: inline;
    padding: 0.2em .6em 0.3em;
    font-size: 50%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: text-top;
    border-radius: .25em;
  }

  #product-tabs {
    margin-top: 50px;
  }

}

// Product Tabs
.nav-tabs {
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
}

.tab-content {
  padding: 25px 15px;
}

//User Videos
#videos {
  .video {
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
  }
}

//User: Cart
#cart {
  .active-tab {
    color: $primary;
  }

  .panel-body {
    .info-text {
      display: inline-block;

      margin: 35px 15% 20px 20px;
    }
  }

  .cart-view-name {
    border-bottom: 1px solid $light-grey;
    padding-bottom: 15px;
  }

  .image-thumbnail {
    height: 35px;
    width: 35px;
  }

  .buttons-container {
    padding: 20px 0 0 0;
  }

  h4 {
    color: $primary;
    font-weight: 400;
    font-size: 1.1em;
    padding-top: 8px;
  }

  .label {
    position: relative;
    font-size: 14px;
    background-color: $default;
    color: $white;
    top: -5px;
    margin-right: 15px;
  }

  #cart-review {
    p {
      margin-bottom: 0;
    }
  }

  #cart-products-table {
    margin-top: 35px;

    .quantity {
      padding-right: 8px;
    }

    .arrows-container {
      width: 25px;
      @include inline-flex;
      @include flex-wrap(wrap);
      @include align-items(center);
    }

    .btn-xs {
      width: 25px;
      height: 15px;
      padding: 0;
      margin: 2px 0;
      line-height: 0;
    }
  }

  .delivery-options {
    @include flex;
  }
}

//User: Terms
#terms {
  p {
    margin: 35px 10% 0 10%;
    font-weight: 600;
  }
  ol {
    margin: 15px 10% 80px 10%;

    li {
      margin: 0 15px;
      padding: 20px 0;
      border-bottom: 1px solid $light-grey;
    }
  }

  ul {
    li {
      list-style-type: disc;
      margin: 0 20px;
      padding: 10px 0;
      border-bottom: 1px solid transparent;
    }
  }
}

// Admin: Create - Edit product
#create-edit-product {
  .buttons-container {
    padding: 10px 0 50px 0;
  }

  .image-container {
    position: relative;
    display: inline-block;
    margin: 0 20px 10px 0;

    .image-thumbnail {
      height: 80px;
      width: auto;
    }

    .deleteImgBtn {
      position: absolute;
      @include flex;
      @include align-items(center);
      @include justify-content(center);

      width: 25px;
      height: 25px;
      border: 1px solid $light-grey;
      color: $dark-grey;
      background-color: $white;
      border-radius: 50%;
      right: -8px;
      top: -8px;
      font-size: .8em;
      font-weight: 600;
      @include transition;

      &:hover {
        background-color: $light-grey;
      }
    }
  }

}

//Admin: Orders

#orders {

  .filters-container {
    @include flex;
    @include align-items(center);
    @include flex-wrap(wrap);
    background: #fff;
    padding: 10px;
    border: 1px solid $light-grey;
  }

  #order-list-tabs {
    .tab-content {
      background-color: #fff;
    }

    .nav-tabs {
      li {
        width: auto;
        min-width: 80px;
        text-align: center;
      }
    }
  }

  .order-info {
    display: none;
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: $white;
    border-radius: 3px;
    padding: 20px 30px;

    -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.3);

    z-index: 2001;
  }

  .visible {
    display: block;
  }

  .overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 5px;
  }

  .order-info-table-header {
    background-color: #D8ECF6;
    padding: 10px 0;
    margin-bottom: 10px;
  }

}

.hidden-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

footer {
  background-color: rgba(240, 240, 240, 0);
  //margin: 50px auto 0;
  padding: 20px 40px;
  font-size: .8em;
  border-top: 1px solid $warm-light-grey;

  .wrapper {
    @include flex;
    @include justify-content(center);
    @include align-items(center);

    * {
      flex-basis: 33%;
      flex-grow: 1;
    }
  }

  .terms {
  }

  .copy {
    text-align: right;
  }
}

.social-media-icons {
  text-align: center;

  .icon {
    margin: 0 3px;
  }
}

//Image Gallery

#image-gallery {
  width: 100%;

  .main-image-container {
    position: relative;
    @include flex;
    @include justify-content(center);
    @include align-items(center);
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin-right: 30px;

    .main-image {
      margin: auto;
      height: 100%;
      width: auto;
    }
  }

  .gallery-thumbnails {
    width: 100%;
    @include flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);

    .image-thumbnail {
      width: 60px;
      height: 60px;
      margin: 5px 5px 0 0;
      overflow: hidden;
      transition: .5s;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .gallery-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5%;

    @include flex;
    @include justify-content(space-between);
    width: 95%;

    z-index: 1;

    button {
      border: none;
      outline: none;
      color: #555;
    }

    .carousel-control-prev,
    .carousel-control-next {
      display: inline-block;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      background: rgba(255, 255, 255, .7);
      cursor: pointer;
      @include transition;

      &:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, .6);
        @include transition;
      }
    }

    .disabled {
      cursor: default;
      color: rgba(0, 0, 0, .2);
      background-color: rgba(255, 255, 255, .3);

      &:hover {
        cursor: default;
        color: rgba(0, 0, 0, .2);
        background-color: rgba(255, 255, 255, .3);
      }
    }
  }
}

//Loader
.loader {
  border: 1px solid $primary;
  border-top: 1px solid $white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: auto;
}

.admin-loader {
  border: 1px solid $admin-primary;
  border-top: 1px solid $white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//Queries
@media screen and (max-width: 1000px) {
  #home-main-carousel {
    .carousel {
      height: 400px;
      margin-top: -35px;
    }
  }

  .section-heading {
    letter-spacing: 5px;
    font-size: 2.2em;
  }

  #home-banner-1 {
    .article-content {
      padding: 30px 50px;
      height: 83%;
    }

    .article-image {
      left: 24%;
      bottom: 5%;
      width: 70%;
      height: 80%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  #home-banner-2 {
    .wrapper {
      padding-top: 0;
    }
    .article-content {
      left: 6%;
      top: 10%;
      height: 80%;

    }

    .article-image {
      img {
        width: auto;
        height: 100%;
      }
    }
  }

  #videos {
    .video {
      height: 200px;
    }
  }

  //Admin

  #orders {
    .order-info {
      width: 80%;
    }
  }
}

@media screen and (max-width: 767px) {

  main {
    padding-top: 80px;
  }

  h1 {
    font-size: 1.6em;
    margin: 25px 0 12px 0;
  }

  h2, h3 {
    font-size: 1.4em;
    margin: 30px 0 12px 0;
  }

  #admin-products-table,
  #admin-orders-table {
    td:last-child, .table th:last-child {
      padding-right: 4px;
    }
  }

  #orders {
    .order-info {
      top: 20px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }

  nav {
    .navbar-brand {
      height: auto;
      padding: 10px 10px;
      font-size: 18px;
      line-height: 10px;
    }

    .navbar-toggle {
      margin-top: 0;
      position: absolute;
      top: 14px;
      right: 3px;
    }

    .cart-xs {
      @include flex;
      @include justify-content(center);
      @include transition;
      margin-top: 0;
      position: absolute;
      top: 14px;
      right: 80px;

      i {
        margin-top: 5px;
      }

      .label {
        margin-top: -5px;
      }
    }

    #user-nav {
      position: absolute;
      top: 62px;
    }

    .navbar-collapse {
      width: 100%;
      border-color: #e7e7e7;
      position: absolute;
      top: 80px;
      background-color: #fff;
      text-align: center;

      background-color: rgba(255, 255, 255, .95);
      -webkit-box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.15);

      &.in {
        @include flex;
        @include justify-content(center);
        @include transition;
      }
    }
  }

  #image-gallery {
    .main-image-container {
      height: 300px;
      width: 100%;
    }
  }

  .card,
  .top-seller-card {
    .add-to-cart-btn {
      padding: 8px 35px;
      height: 34px;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 650px) {

  nav {
    .navbar-collapse {
      width: 100%;
      background-color: rgba(45, 45, 45, .95);
      padding: 10px 0;
    }

    .nav {
      @include flex;
      @include align-items(center);
      @include flex-direction(column);
      height: auto;

      .nav-link {
        color: $medium-grey;
        border-bottom: 1px solid rgba(255, 255, 255, .1);

        &:last-child {
          border-bottom: none;
        }
      }

    }
  }

  #admin-nav {
    .nav {
      @include flex-direction(row);
    }

  }

  #home-main-carousel {
    .carousel {
      height: 300px;
      margin-top: -35px;
    }

    .carousel-inner {
      .carousel-img {
        width: auto;
        height: 100%;
      }
    }
  }

  .section-heading {
    letter-spacing: 3px;
    font-size: 1.8em;
  }

  #home-banner-1 {
    .article-content {
      top: 6%;
      left: 6%;
      background-color: rgba(255, 255, 255, .8);
      height: 88%;
      color: $dark-grey;
    }

    .article-image {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  #home-banner-2 {
    .article-content {
      background-color: rgba(255, 255, 255, .7);
    }
  }

  #top-sellers {
    padding-bottom: 0;
  }

  #testimonials {
    padding: 30px 0;
  }

  //Admin

  .table-sorting-buttons {
    margin-left: 2px;
  }

  #orders {
    .order-info {
      width: 95%;
      top: 5%;
    }
  }

  #videos {
    .video {
      height: 150px;
    }
  }

}

@media screen and (max-width: 520px) {
  #home-banner-1 {

    .article-box {
      height: 600px;
    }

    .article-content {
      left: 5%;
      padding: 35px;
      min-width: 0;
      width: 90%;
      height: 87%;

      h4 {
        margin-top: 5px;
      }
    }

    .article-image {
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #order-list-tabs {
    .tab-content {
      background-color: #fff;
    }
    .nav > li > a {
      padding: 5px 5px;
      font-size: 1em;
    }
  }

  #image-gallery {
    .main-image-container {
      height: 300px;
      width: 100%;
    }
  }

  #cart {
    #cart-products-table {
      .btn-xs {
        width: 20px;
      }
    }

    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
      padding: 8px 4px;
    }
  }

  #terms {
    p {
      margin: 35px 0;
    }
    ol {
      margin: 35px 0;
    }

    ul {
      li {
        margin: 10px 15px;
      }
    }
  }
}

@media screen and (max-width: 400px) {

  .text-hidden-xs {
    display: none;
  }

  #home-main-carousel {
    .carousel {
      height: 250px;
      margin-top: -35px;

      .carousel-inner {

        .carousel-img {
          width: auto;
          height: 100%;
        }
      }
    }
  }

  nav {
    @include align-items(flex-start);

    .navbar-brand {
      font-size: 120%;
      margin: 15px;
    }

    #admin-nav {
      .nav-link {
        padding: 10px;
      }
    }
  }

  h2, h3 {
    font-size: 1.3em;
    margin: 15px 0 12px 0;
  }

  h4 {
    margin-top: 20px;
  }

  #cart {
    .label {
      font-size: 12px;
      top: -5px;
      margin-right: 10px;
    }
  }

  .section-heading {
    letter-spacing: 0;
    font-size: 1.5em;
  }

}




