@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic");
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  color: #5b5b5b;
  font-family: Montserrat, sans-serif;
  font-size: 14px; }

.container {
  padding: 50px 10% 80px; }

.bg-white {
  background-color: #ffffff; }

button {
  border: none;
  outline: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: none; }

img {
  width: 100%; }

h1, h2, h3 {
  margin: 50px 0 20px 0; }

h3 {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 300; }

h2 {
  font-size: 2em; }

p {
  line-height: 1.5em; }

.text-bigger {
  font-size: 1.3em;
  font-weight: 400 !important; }

.text-grey {
  color: #c6c6c6; }

.label {
  padding: .3em .6em;
  font-weight: 400; }

.btn {
  border: none;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s; }
  .btn:last-child {
    margin-right: 0; }
  .btn.primary {
    color: #ffffff;
    background-color: #c81020; }
    .btn.primary:hover, .btn.primary:active {
      background-color: #B10F1F; }
  .btn.default {
    color: #ffffff;
    background-color: #7b715d; }
    .btn.default:hover, .btn.default:active {
      background-color: #615540; }
  .btn:hover {
    cursor: pointer; }
  .btn.xs {
    padding: 5px 5px; }
  .btn.sm {
    padding: 5px 10px; }
  .btn.md {
    padding: 10px 20px; }
  .btn.lg {
    padding: 13px 25px; }

#header {
  padding: 25px;
  height: 90px; }

#header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  #header-nav .brand-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 40px; }
  #header-nav .nav-primary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    font-size: .9em; }
    #header-nav .nav-primary .nav-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      transition: .4s;
      padding: 10px 10px; }
      #header-nav .nav-primary .nav-item:hover {
        background-color: #B10F1F;
        color: #ffffff;
        cursor: pointer; }
      #header-nav .nav-primary .nav-item .nav-link {
        text-transform: uppercase; }

#home #carousel {
  position: relative;
  width: 100%; }
  #home #carousel .carousel-content {
    width: 100%;
    height: 60vh; }
    #home #carousel .carousel-content .carousel-item {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      overflow: hidden;
      width: 100%;
      height: inherit;
      -webkit-transition: 1.3s;
      -moz-transition: 1.3s;
      transition: 1.3s; }
      #home #carousel .carousel-content .carousel-item .slide-background {
        width: 100%;
        height: auto; }
      #home #carousel .carousel-content .carousel-item:nth-child(1) {
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("https://fbfttg.db.files.1drv.com/y4mF4K6OZH_ZLh-121YlE4FK-Z7qecc9ot4Lb0j7xNco3IrRvNZ6g8A4FqsngyjkJGrkG7Tz3jnPRXvzb9FZWRe64x_R3VEuqsfusnGZEPMWGL3NRBOQlQKuOW1h5-gwRHFopdivNn0gMnysbyS7NppILcM35i5ddlPgoFgNKZOBD36PqQb6nj8lmrST5hj6ieLLRbebhgk1dXbbcFJ1SBTfQ?width=2500&height=1667&cropmode=none") no-repeat center/cover;
        background-attachment: fixed;
        background-position: 50% 450%; }
      #home #carousel .carousel-content .carousel-item:nth-child(2) {
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("https://7ypqbg.db.files.1drv.com/y4mJWM9IXzB_xqgic7eplcF7ZW06n2GGJyybok4eq4x0R31znVbkad5rgPOj5Mk7RGGuDDMCkEi95uBI8banAnyk88iCnONCvmb5qqir7bexMKIOvPoqI_HIwwyE6XI_FT2UcuQnqueeZBC3_arRLiYXGQp0tpAlhuKeRmgMQxo8MbBtihVjXqxe5k0lYuGmmdT0FNVMr2pB1qZ1cTq9ZkdUg?width=2400&height=1599&cropmode=none") no-repeat bottom/cover;
        background-attachment: fixed; }
      #home #carousel .carousel-content .carousel-item .slide-text {
        width: 40%;
        position: absolute;
        top: 30%;
        left: 15%; }
        #home #carousel .carousel-content .carousel-item .slide-text .headline {
          font-size: 3em;
          text-transform: uppercase;
          line-height: 1em;
          animation: slide-left 2s; }
        #home #carousel .carousel-content .carousel-item .slide-text .description {
          margin-top: 25px;
          line-height: 1.3em; }
    #home #carousel .carousel-content .carousel-item.active {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0%, 0, 0); }
  #home #carousel .carousel-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5%;
    display: flex;
    justify-content: space-between;
    width: 95%;
    z-index: 1; }
    #home #carousel .carousel-navigation .carousel-control-prev,
    #home #carousel .carousel-navigation .carousel-control-next {
      display: inline-block;
      width: auto;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      background: rgba(255, 255, 255, 0.7);
      -webkit-transition: .4s;
      -moz-transition: .4s;
      transition: .4s; }
      #home #carousel .carousel-navigation .carousel-control-prev:hover,
      #home #carousel .carousel-navigation .carousel-control-next:hover {
        background: rgba(0, 0, 0, 0.7);
        color: #fff; }
  #home #carousel #slide-preview {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    z-index: 1; }
    #home #carousel #slide-preview .slide-preview {
      display: flex;
      align-items: center;
      justify-content: center;
      color: transparent;
      width: 15px;
      height: 15px;
      margin: 2px;
      background-color: rgba(255, 255, 255, 0.7); }
    #home #carousel #slide-preview span:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.3); }
    #home #carousel #slide-preview .slide-preview.nav-active {
      background-color: rgba(0, 0, 0, 0.2); }
#home #why-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #home #why-us .article {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    text-align: center;
    padding: 0 25px; }
    #home #why-us .article .icon-container {
      display: -moz-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      background-color: #c81020;
      padding: 20px;
      border-radius: 50%; }
    #home #why-us .article .article-headline {
      margin-top: 20px; }
    #home #why-us .article:last-of-type .icon-container {
      padding: 13px; }
  #home #why-us .section-info {
    text-align: center; }
    #home #why-us .section-info .section-headline {
      text-transform: uppercase; }
    #home #why-us .section-info .section-text {
      width: 60%;
      margin: auto; }
#home #our-coffee {
  position: relative;
  height: 600px;
  -webkit-transition: 1.3s;
  -moz-transition: 1.3s;
  transition: 1.3s;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://fbf0tg.db.files.1drv.com/y4mPar-DjNjA5a2lVKoGOJmfirzu9x9QP5JekBpreHbdcYonAH1ZRcADavJrY8Ot8Jw6TEy0r17-CWHUOXNnyHqZLF73NmKOhRXfgJ9hPp3Bf6K4MV6jNJH938fdXz4RQGnBtfCM3Qf5k-gfnpS1wLpY9QIV1V9hdmBFxsj4dgCyp3Ne_oe0PrdzVtmD3DmaQjVR6k2GX-LDspBGELWV7NCMQ?width=2500&height=1559&cropmode=none");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%; }
  #home #our-coffee .section-info {
    opacity: 1;
    -webkit-transition: 1.3s;
    -moz-transition: 1.3s;
    transition: 1.3s;
    position: absolute;
    top: 25px;
    left: 25px;
    width: 35%;
    height: calc(100% - 50px);
    padding: 100px 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0); }
    #home #our-coffee .section-info .logo {
      width: 60px;
      margin: auto; }
    #home #our-coffee .section-info .section-headline {
      font-weight: 300;
      font-size: 1.3em;
      text-transform: uppercase;
      margin-top: 15px; }
    #home #our-coffee .section-info .section-text {
      margin-bottom: 30px; }
#home #teasers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #home #teasers .article {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    background-color: #f6f5f3;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #home #teasers .article:first-of-type {
      -webkit-flex-basis: 100%;
      flex-basis: 100%; }
    #home #teasers .article .image-container {
      position: relative;
      height: inherit;
      overflow: hidden;
      -webkit-flex-basis: 50%;
      flex-basis: 50%;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      transition: .4s;
      order: 2; }
      #home #teasers .article .image-container img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: auto;
        -webkit-transition: 1.3s;
        -moz-transition: 1.3s;
        transition: 1.3s; }
    #home #teasers .article .article-info {
      -webkit-flex-basis: 50%;
      flex-basis: 50%;
      padding: 15px 25px;
      font-size: .8em;
      order: 1; }
      #home #teasers .article .article-info .article-headline {
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, -130%);
        -moz-transform: translate(-50%, -130%);
        -ms-transform: translate(-50%, -130%);
        -o-transform: translate(-50%, -130%);
        transform: translate(-50%, -130%);
        padding: 10px 20px;
        background-color: white;
        text-align: center;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        transition: .4s; }
      #home #teasers .article .article-info .article-text {
        opacity: 0;
        -webkit-transition: 1.3s;
        -moz-transition: 1.3s;
        transition: 1.3s; }
    #home #teasers .article:hover {
      cursor: pointer; }
      #home #teasers .article:hover .image-container {
        border-left: 2px solid #000; }
        #home #teasers .article:hover .image-container img {
          left: -10%; }
      #home #teasers .article:hover .article-text {
        opacity: 1;
        -webkit-transform: translate(0, 40px);
        -moz-transform: translate(0, 40px);
        -ms-transform: translate(0, 40px);
        -o-transform: translate(0, 40px);
        transform: translate(0, 40px); }
      #home #teasers .article:hover .article-headline {
        background-color: #000;
        color: #c6c6c6;
        -webkit-transform: translate(-5px, -130%);
        -moz-transform: translate(-5px, -130%);
        -ms-transform: translate(-5px, -130%);
        -o-transform: translate(-5px, -130%);
        transform: translate(-5px, -130%); }

#footer {
  height: 100px; }

/*# sourceMappingURL=main.css.map */
