@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

$primary: #c81020;
$primary-hover: #B10F1F;

$offices: #a4a0a1;
$offices-hover: #817d7e;

$vending: #3f3644;
$vending-hover: #65576a;

$success: #17ce7f;
$success-hover: #13bd77;

$info: #aec0c2;

$dark-bg: #353535;

$white: #ffffff;
$black: #000;
$dark-grey: #5b5b5b;
$medium-grey: #c6c6c6;
$light-grey: #e6e6e6;
$warm-light-grey: #f6f5f3;
$warm-light-grey-2: #ece9e1;

$header-height: 70px;

@mixin transition {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
}

@mixin transition-slow {
  -webkit-transition: 1.3s;
  -moz-transition: 1.3s;
  transition: 1.3s;
}

@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin inline-flex {
  //display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-box-direction: reverse;
    -moz-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-direction: reverse;
    -moz-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
  // No Webkit/FF Box fallback.
  -webkit-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: nowrap;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}

@mixin flex-flow($values: (row nowrap)) {
  // No Webkit/FF Box fallback.
  -webkit-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

@mixin flex-shrink($int: 0) {
  -webkit-flex-shrink: $int;
  -moz-flex-shrink: $int;
  -ms-flex: $int;
  flex-shrink: $int;
}

@mixin flex-basis($value: auto) {
  -webkit-flex-basis: $value;
  flex-basis: $value;
}

@mixin align-self($value: auto) {
  // No Webkit Box Fallback.
  -webkit-align-self: $value;
  @if $value == flex-start {
    -ms-flex-item-align: start;
  } @else if $value == flex-end {
    -ms-flex-item-align: end;
  } @else {
    -ms-flex-item-align: $value;
  }
  align-self: $value;
}

@mixin translate($x: 0, $y: 0) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
  transform: scale($value);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  color: $dark-grey;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  background-color: $warm-light-grey;
}

main {
  margin-top: $header-height;
}

#site-container {
  position: relative;
}

.container {
  padding: 50px 10% 100px;
}

.container-fluid {
  padding: 50px 0 100px;
}

.bg-white {
  background-color: $white;
}

button {
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

img {
  width: 100%;
}

h1, h2, h3 {
  margin: 50px 0 20px 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.1em;
  //color: #ccc;
  text-transform: uppercase;
  font-weight: 300;
}

h4 {
  margin-bottom: 7px;
  font-size: 1.3em;
}

p {
  line-height: 1.5em;
}

.text-bigger {
  font-size: 1.3em;
  font-weight: 400 !important;
}

.text-grey {
  color: $medium-grey
}

.label {
  padding: .3em .6em;
  font-weight: 400;
}

.btn {
  border: none;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8em;
  @include transition;

  &:last-child {
    margin-right: 0;
  }

  &.primary {
    color: $white;
    background-color: $black;

    &:hover,
    &:active {
      color: $black;
      background-color: $white;
    }
  }

  &.default {
    color: $white;
    background-color: $black;

    &:hover,
    &:active {
      color: $black;
      background-color: $white;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.xs {
    padding: 5px 5px;
    //border-radius: 2px;
  }

  &.sm {
    padding: 5px 10px;
    //border-radius: 3px;
  }

  &.md {
    padding: 10px 20px;
    //border-radius: 4px;
  }

  &.lg {
    padding: 13px 25px;
    //border-radius: 5px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  padding: 25px;

  @include flex;
  @include align-items(center);
  @include justify-content(space-between);

  z-index: 1000;
  background-color: $white;
  @include transition-slow;

  &.hidden {
    height: 50px;
    padding: 5px 25px;
    background-color: $warm-light-grey;
    -webkit-box-shadow: -1px 5px 5px -4px rgba(184, 184, 184, 0.83);
    -moz-box-shadow: -1px 5px 5px -4px rgba(184, 184, 184, 0.83);
    box-shadow: -1px 5px 5px -4px rgba(184, 184, 184, 0.83);

    #header-nav {
      .brand-container {
        width: 30px;
        @include translate(0, 0);
      }
    }
  }
}

#header-nav {
  @include flex;
  @include justify-content(space-between);
  width: 100%;

  .brand-container {
    @include flex;
    @include align-items(center);
    @include transition;
    @include translate(50%, 0);
    width: 40px;
  }

  .nav-primary {
    @include flex;
    list-style-type: none;
    font-size: .9em;

    .nav-item {
      height: 35px;
      margin-right: 2px;
      @include transition;

      &:hover {
        background-color: $primary-hover;
        color: $white;
        cursor: pointer;
      }

      .nav-link {
        @include flex;
        @include align-items(center);
        padding: 10px 10px;

        text-transform: uppercase;
      }

      .nav-link-active {
        background-color: $primary-hover;
        color: $white;
      }
    }
  }
}

#home {
  #carousel {
    position: relative;
    //width: 80%;
    //margin: auto;

    .carousel-content {
      width: 100%;
      height: 600px;

      .carousel-item {
        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;
        //visibility: hidden;
        //overflow: hidden;
        width: 100%;
        height: inherit;
        @include transition-slow;

        .slide-background {
          width: 100%;
          height: auto;
        }

        &:nth-child(1) {
          background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://fbfttg.db.files.1drv.com/y4mF4K6OZH_ZLh-121YlE4FK-Z7qecc9ot4Lb0j7xNco3IrRvNZ6g8A4FqsngyjkJGrkG7Tz3jnPRXvzb9FZWRe64x_R3VEuqsfusnGZEPMWGL3NRBOQlQKuOW1h5-gwRHFopdivNn0gMnysbyS7NppILcM35i5ddlPgoFgNKZOBD36PqQb6nj8lmrST5hj6ieLLRbebhgk1dXbbcFJ1SBTfQ?width=2500&height=1667&cropmode=none") no-repeat center/cover;
          background-attachment: fixed;
          background-position: 50% 80%;
        }

        &:nth-child(2) {
          background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://7ypqbg.db.files.1drv.com/y4mJWM9IXzB_xqgic7eplcF7ZW06n2GGJyybok4eq4x0R31znVbkad5rgPOj5Mk7RGGuDDMCkEi95uBI8banAnyk88iCnONCvmb5qqir7bexMKIOvPoqI_HIwwyE6XI_FT2UcuQnqueeZBC3_arRLiYXGQp0tpAlhuKeRmgMQxo8MbBtihVjXqxe5k0lYuGmmdT0FNVMr2pB1qZ1cTq9ZkdUg?width=2400&height=1599&cropmode=none") no-repeat bottom/cover;
          background-attachment: fixed;
          background-position: 50% 0;

        }

        .slide-text {
          width: 550px;
          position: absolute;
          top: 30%;
          right: 50px;
          padding: 20px;
          z-index: 5;
          //background-color: #ffffff96;

          .headline {
            font-size: 2em;
            text-transform: uppercase;
            line-height: 1em;
            margin-top: 0;
            animation: slide-left 2s;
          }

          .description {
            margin-top: 20px;
            line-height: 1.3em;
          }
        }

        &.active {
          opacity: 1;
          visibility: visible;
          transform: translate3d(0%, 0, 0);
        }
      }

    }

    .carousel-navigation {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 2.5%;

      display: flex;
      justify-content: space-between;
      width: 95%;

      z-index: 1;

      .carousel-control-prev,
      .carousel-control-next {
        display: none;
        width: auto;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        background: rgba(255, 255, 255, .7);
        @include transition;

        &:hover {
          background: rgba(0, 0, 0, .7);
          color: #fff;
        }
      }
    }

    #slide-preview {
      position: absolute;
      bottom: 50px;
      left: 50%;
      display: flex;
      transform: translateX(-50%);
      z-index: 1;

      .slide-preview {
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        width: 15px;
        height: 15px;
        margin: 2px;
        background-color: rgba(255, 255, 255, .7)
      }

      & span:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, .3);
      }

      .slide-preview.nav-active {
        background-color: rgba(0, 0, 0, .2);
      }
    }
  }

  #why-us {

    #why-us-icons {
      @include flex;
      @include flex-wrap(wrap);
      padding: 10px;
      background-color: $offices;

      .article {
        @include flex-basis(25%);

        @include flex;
        @include align-items(center);
        @include justify-content(center);

        //text-align: center;
        padding: 0 30px;

        .icon-container {
          @include flex-basis(40px);

          @include inline-flex;
          @include align-items(center);
          @include justify-content(center);
          flex-grow: 0;

          width: 40px;
          height: 40px;
          //background-color: $primary;
          //border: 1px dotted rgba(255, 255, 255, .5);;
          padding: 6px;
          margin-right: 15px;
          border-radius: 3px;
        }

        .article-headline {
          @include flex-basis(75%);
          margin: 10px;
          //border-top: 1px solid rgba(255, 255, 255, .2);
          font-size: .9em;
          line-height: 1em;
          color: $white;
        }

        &:last-of-type {
          .icon-container {
            padding: 3px;
          }
        }
      }
    }

    .section-info {
      //text-align: center;

      .section-headline {
        //text-transform: uppercase;
      }

      .section-text {
        //width: 60%;
        margin: auto;
      }
    }
  }

  #our-coffee {
    height: 600px;

    #our-coffee-banner {
      position: relative;
      width: 100%;
      height: 100%;
      @include transition-slow;

      //background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://fbf0tg.db.files.1drv.com/y4mPar-DjNjA5a2lVKoGOJmfirzu9x9QP5JekBpreHbdcYonAH1ZRcADavJrY8Ot8Jw6TEy0r17-CWHUOXNnyHqZLF73NmKOhRXfgJ9hPp3Bf6K4MV6jNJH938fdXz4RQGnBtfCM3Qf5k-gfnpS1wLpY9QIV1V9hdmBFxsj4dgCyp3Ne_oe0PrdzVtmD3DmaQjVR6k2GX-LDspBGELWV7NCMQ?width=2500&height=1559&cropmode=none");

      background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://4zzlqw.db.files.1drv.com/y4mqAJKZ0altBL23zCupd3HO64jG3rT0oVotbT2bn9ABAVdcRktTIFM55EtTzff3ElCZ7LuKQB2q85f0cX_9kYh5-a8Z1tOzibGU3fRCm_I_Y9F7_YBMscC35iXPuuzfQ-tjVL27k2mHWBwDw3UuyZuUAW3GpUMdF9MtwTR9dq-5FWQwr-xJgrJ1H7xiWSihJHUXwBvy6Hh3eBfPlqMDuc6zA?width=2500&height=1667&cropmode=none");

      background-repeat: no-repeat;
      //background-attachment: fixed;
      background-size: cover;
      background-position: 50% 50%;
    }

    .section-info {
      opacity: 1;
      @include transition-slow;

      position: absolute;
      top: 0;
      left: 0;

      width: 35%;
      height: 100%;
      padding: 100px 50px;

      text-align: center;
      background-color: rgba(246, 245, 243, .8);

      .logo {
        width: 60px;
        margin: auto;
      }

      .section-headline {
        font-weight: 300;
        font-size: 1.3em;
        text-transform: uppercase;
        margin-top: 15px;
      }

      .section-text {
        margin-bottom: 30px;
      }
    }
  }

  #teasers {
    //padding-top: 60px;
    @include flex;
    @include flex-wrap(wrap);

    .section-headline {
      @include flex-basis(100%);
    }

    .article {
      position: relative;
      height: 350px;
      width: 100%;
      @include flex-basis(50%);

      @include transition;

      @include flex;

      overflow: hidden;
      background-color: $white;
      border: 10px solid $warm-light-grey;

      .image-container {
        position: relative;
        height: inherit;
        overflow: hidden;
        //border-left: 2px solid transparent;
        @include flex-basis(50%);
        @include transition;
        order: 2;

        img {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: auto;
          @include transition-slow;
        }
      }

      .article-headline {
        position: absolute;
        top: 45%;
        left: 50%;
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 1);
        text-align: center;
        @include transition;
        font-size: 1em;
        font-weight: 400;
        z-index: 2;
      }

      .article-info {
        @include flex-basis(50%);
        padding: 25px 25px;
        font-size: .9em;
        order: 1;

        .article-text {
          opacity: .5;

          @include transition-slow;
          color: $black;
          max-width: 500px;
        }
      }

      &#promo-teaser {
        @include flex-basis(30%);
        background-color: $primary-hover;

        .article-headline {
          position: absolute;
          width: 30%;
          top: 5%;
          left: auto;
          right: 0;
          padding: 10px 20px;
          background-color: $primary-hover;
          color: $white;
          font-size: 2em;
        }

        .image-container {
          flex-basis: 100%;
          border-left: none;

          position: relative;

          img {
            height: auto;
            width: 100%;
          }
        }

        .article-info {
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
          height: 100%;
          background-color: rgba(255, 255, 255, 1);
          text-transform: uppercase;

          @include transition-slow;

          h4{
            color: $primary;
            font-size: 6em;
          }
        }
      }

      &#office-teaser {
        @include flex-basis(70%);
        //background-color: $offices;

        .bullets {
          list-style-type: square;
          list-style-position: outside;
          padding: 10px 0;
          //border-bottom: 1px solid $warm-light-grey;
          margin: 0 20px;
          text-transform: uppercase;

        }
      }

      &#vending-teaser {
        //background-color: $vending;
      }

      &#coffee-teaser {
        .logo {
          width: 60px;
          margin: auto;
        }

        .section-headline {
          font-weight: 300;
          font-size: 1.3em;
          text-transform: uppercase;
          margin-top: 15px;
        }

      }

      &#promo-teaser-2 {
        //background-color: $offices;

        h4{
          color: $primary;
          font-size: 3em;
        }

      }

      &:hover {
        cursor: pointer;
        //background-color: $offices;

        .image-container {
          //border-left: 2px solid $white;

          img {
            left: -10%;
          }
        }

        .article-text {
          opacity: 1;
          @include translate(0, 20px);
          color: $black;
        }

        .article-headline {
          //background-color: $black;
          //color: $medium-grey;
          @include translate(0, -130%);
        }

        &#promo-teaser {
          img {
            left: 0;
          }

          .article-headline {
            //@include translate(-20%, 0);
            opacity: 0;
          }


          .article-info {
            opacity: 1;
          }
        }
      }
    }
  }
}

.section-banner {
  width: 100%;
  height: 300px;
}

#offices {

  .section-banner {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("https://fbfttg.db.files.1drv.com/y4mF4K6OZH_ZLh-121YlE4FK-Z7qecc9ot4Lb0j7xNco3IrRvNZ6g8A4FqsngyjkJGrkG7Tz3jnPRXvzb9FZWRe64x_R3VEuqsfusnGZEPMWGL3NRBOQlQKuOW1h5-gwRHFopdivNn0gMnysbyS7NppILcM35i5ddlPgoFgNKZOBD36PqQb6nj8lmrST5hj6ieLLRbebhgk1dXbbcFJ1SBTfQ?width=2500&height=1667&cropmode=none") no-repeat center/cover;
    background-position: 50% 50%;
  }
}

#vending {

  .section-banner {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://f4yb8q.db.files.1drv.com/y4mKldHM2zM0apQQXtcI9Ncg9uVqXGbIU1ZfneiwGDrI4KGHRBYay01mIdfFbYwPBp35BCrZ2QqlRHMWseo1uAYbBu-AKLYZ-dM2Eht5IC3SA98KdQacGFlDbzOXiR2GPTcCQCPWEtNZLXxFf4uo9hQ1i32Z64k5JeB8tfsBvAiSzs7Z62IagV9UxYnSWOVCOUkjkpqNnQJ6Z7Zcp_8DuJaeg?width=650&height=392&cropmode=none") no-repeat center/cover;
    background-position: 50% 70%;
  }
}

#prices {

  .section-banner {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://f4yb8q.db.files.1drv.com/y4mKldHM2zM0apQQXtcI9Ncg9uVqXGbIU1ZfneiwGDrI4KGHRBYay01mIdfFbYwPBp35BCrZ2QqlRHMWseo1uAYbBu-AKLYZ-dM2Eht5IC3SA98KdQacGFlDbzOXiR2GPTcCQCPWEtNZLXxFf4uo9hQ1i32Z64k5JeB8tfsBvAiSzs7Z62IagV9UxYnSWOVCOUkjkpqNnQJ6Z7Zcp_8DuJaeg?width=650&height=392&cropmode=none") no-repeat center/cover;
    background-position: 50% 70%;
  }

  table {
    tr {
      &:hover {
        td {
          background-color: rgba(250, 250, 250, 0.8);
        }
      }

      td, th {
        padding: 10px 30px;
      }
      th {
        background-color: $info;
        color: $white;
      }
      td {
        @include transition;
        background-color: $white;
      }
    }
  }
;
}

#footer {
  height: 100px;
  background-color: $white;
}
