@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

$primary: #c81020;
$primary-hover: #B10F1F;

$default: #7b715d;
$default-hover: #615540;

$success: #17ce7f;
$success-hover: #13bd77;

$info: #19ceea;
$info-hover: #13bcd2;

$dark-bg: #353535;

$white: #ffffff;
$black: #000;
$dark-grey: #5b5b5b;
$medium-grey: #c6c6c6;
$light-grey: #e6e6e6;
$warm-light-grey: #f6f5f3;
$warm-light-grey-2: #ece9e1;

@mixin transition {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
}

@mixin transition-slow {
  -webkit-transition: 1.3s;
  -moz-transition: 1.3s;
  transition: 1.3s;
}

@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin inline-flex {
  //display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-box-direction: reverse;
    -moz-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-direction: reverse;
    -moz-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
  // No Webkit/FF Box fallback.
  -webkit-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: nowrap;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}

@mixin flex-flow($values: (row nowrap)) {
  // No Webkit/FF Box fallback.
  -webkit-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

@mixin flex-shrink($int: 0) {
  -webkit-flex-shrink: $int;
  -moz-flex-shrink: $int;
  -ms-flex: $int;
  flex-shrink: $int;
}

@mixin flex-basis($value: auto) {
  -webkit-flex-basis: $value;
  flex-basis: $value;
}

@mixin align-self($value: auto) {
  // No Webkit Box Fallback.
  -webkit-align-self: $value;
  @if $value == flex-start {
    -ms-flex-item-align: start;
  } @else if $value == flex-end {
    -ms-flex-item-align: end;
  } @else {
    -ms-flex-item-align: $value;
  }
  align-self: $value;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  color: $dark-grey;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

main {
  //background-color: $warm-light-grey;
}

.container {
  padding: 50px 10% 80px;
}

.bg-white {
  background-color: $white;
}

button {
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

img {
  width: 100%;
}

h1, h2, h3 {
  margin: 50px 0 20px 0;
}

h3 {
  font-size: 2em;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 300;
}

h2 {
  font-size: 2em;
}

p {
  line-height: 1.5em;
}

.text-bigger {
  font-size: 1.3em;
  font-weight: 400 !important;
}

.text-grey {
  color: $medium-grey
}

.label {
  padding: .3em .6em;
  font-weight: 400;
}

.btn {
  border: none;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  @include transition;

  &:last-child {
    margin-right: 0;
  }

  &.primary {
    color: $white;
    background-color: $primary;

    &:hover,
    &:active {
      background-color: $primary-hover;
    }
  }

  &.default {
    color: #ffffff;
    background-color: $default;

    &:hover,
    &:active {
      background-color: $default-hover;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.xs {
    padding: 5px 5px;
    //border-radius: 2px;
  }

  &.sm {
    padding: 5px 10px;
    //border-radius: 3px;
  }

  &.md {
    padding: 10px 20px;
    //border-radius: 4px;
  }

  &.lg {
    padding: 13px 25px;
    //border-radius: 5px;
  }
}

#header {
  padding: 25px;
  height: 90px;
}

#header-nav {
  @include flex;
  @include justify-content(space-between);

  .brand-container {
    @include flex;
    @include align-items(center);
    width: 40px;
  }

  .nav-primary {
    @include flex;
    list-style-type: none;
    font-size: .9em;

    .nav-item {
      @include flex;
      @include align-items(center);
      @include transition;
      padding: 10px 10px;

      &:hover {
        background-color: $primary-hover;
        color: $white;
        cursor: pointer;
      }

      .nav-link {
        text-transform: uppercase;
      }
    }
  }
}

#home {
  #carousel {
    position: relative;
    width: 100%;

    .carousel-content {
      width: 100%;
      height: 60vh;

      .carousel-item {
        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;
        //visibility: hidden;
        overflow: hidden;
        width: 100%;
        height: inherit;
        @include transition-slow;

        .slide-background {
          width: 100%;
          height: auto;
        }

        &:nth-child(1) {
          background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("https://fbfttg.db.files.1drv.com/y4mF4K6OZH_ZLh-121YlE4FK-Z7qecc9ot4Lb0j7xNco3IrRvNZ6g8A4FqsngyjkJGrkG7Tz3jnPRXvzb9FZWRe64x_R3VEuqsfusnGZEPMWGL3NRBOQlQKuOW1h5-gwRHFopdivNn0gMnysbyS7NppILcM35i5ddlPgoFgNKZOBD36PqQb6nj8lmrST5hj6ieLLRbebhgk1dXbbcFJ1SBTfQ?width=2500&height=1667&cropmode=none") no-repeat center/cover;
          //background-attachment: fixed;
        }

        &:nth-child(2) {
          background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url("https://q7n2zg.db.files.1drv.com/y4mfjIVsv9vKkjqVS_HY8UXn0Tv7uas43ceTjVsRN2fV7fanEakMLNJtao8ICw-c8uVDe777oxCrxDRzbC3pEQ-RdeU5gdT4SziqE2Omc-UkX81D_ZVvZJW9IMixKZ54CuCvaAbMfxI9UULhDCEBWJLxTVXzAAY2-8e23SP9ViBixPICJdTMoSsHcEJrkawdl5jdwMf0gPU2RZ2uSB7BXbv8A?width=1700&height=1129&cropmode=none") no-repeat bottom/cover;
          //background-attachment: fixed;
        }

        .slide-text {
          width: 40%;
          position: absolute;
          top: 30%;
          left: 15%;

          .headline {
            font-size: 3em;
            text-transform: uppercase;
            line-height: 1em;
            animation: slide-left 2s;
          }

          .description {
            margin-top: 25px;
            line-height: 1.3em;
          }
        }
      }

      .carousel-item.active {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0%, 0, 0);
      }
    }

    .carousel-navigation {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 2.5%;

      display: flex;
      justify-content: space-between;
      width: 95%;

      z-index: 1;

      .carousel-control-prev,
      .carousel-control-next {
        display: inline-block;
        width: auto;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        background: rgba(255, 255, 255, .7);
        @include transition;

        &:hover {
          background: rgba(0, 0, 0, .7);
          color: #fff;
        }
      }
    }

    #slide-preview {
      position: absolute;
      bottom: 50px;
      left: 50%;
      display: flex;
      transform: translateX(-50%);
      z-index: 1;

      .slide-preview {
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        width: 15px;
        height: 15px;
        margin: 2px;
        background-color: rgba(255, 255, 255, .7)
      }

      & span:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, .3);
      }

      .slide-preview.nav-active {
        background-color: rgba(0, 0, 0, .2);
      }
    }
  }

  #why-us {
    @include flex;
    @include flex-wrap(wrap);

    .article {
      @include flex-basis(25%);
      text-align: center;
      padding: 0 25px;

      .icon-container {
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center);
        width: 80px;
        height: 80px;
        background-color: $primary;
        padding: 20px;
        border-radius: 50%;
      }

      .article-headline {
        font-size: 1.1em;
        margin-top: 20px;
      }

      &:last-of-type {
        .icon-container {
          padding: 13px;
        }
      }
    }

    .section-info {
      text-align: center;

      .section-headline {
        text-transform: uppercase;
      }

      .section-text {
        width: 60%;
        margin: auto;
      }
    }
  }

  #our-coffee {
    position: relative;
    height: 600px;
    @include transition-slow;

    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://fbf0tg.db.files.1drv.com/y4mPar-DjNjA5a2lVKoGOJmfirzu9x9QP5JekBpreHbdcYonAH1ZRcADavJrY8Ot8Jw6TEy0r17-CWHUOXNnyHqZLF73NmKOhRXfgJ9hPp3Bf6K4MV6jNJH938fdXz4RQGnBtfCM3Qf5k-gfnpS1wLpY9QIV1V9hdmBFxsj4dgCyp3Ne_oe0PrdzVtmD3DmaQjVR6k2GX-LDspBGELWV7NCMQ?width=2500&height=1559&cropmode=none");
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-size: cover;
    background-position: 50% 60%;

    .section-info {
      opacity: 1;
      @include transition-slow;

      position: absolute;
      top: 25px;
      left: 25px;

      width: 35%;
      height: calc(100% - 50px);
      padding: 100px 50px;

      text-align: center;
      background-color: rgba(255, 255, 255, 0);


      .logo {
        width: 60px;
        margin: auto;
      }

      .section-headline {
        font-weight: 300;
        font-size: 1.3em;
        text-transform: uppercase;
        margin-top: 15px;
      }

      .section-text {
        margin-bottom: 30px;
      }
    }
  }

  #teasers {
    @include flex;

    .article {
      @include flex-basis(50%);
    }
  }
}
